<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Rocket Technology</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

</head>
<!-- body -->
<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo" style="width:110px; margin-top: -25px;">
                                    <a href="index.php"><img src="images/logo.jpg" style="border-radius: 50%;" alt="#" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarsExample04">
                                <ul class="navbar-nav mr-auto">
                                    <!--
    <li class="nav-item active">
        <a class="nav-link" href="index.html">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="about.html">Sobre</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="computer.html">Computadores</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="product.html">Produtos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="contact.html">Contato</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="Register.html">Cadastro</a>
    </li>
    <li class="nav-item d_none">
        <a class="nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item d_none">
        <a class="nav-link" href="#">Login</a>
    </li> -->
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header inner -->
    <!-- end header -->
    <!-- banner -->
    <section class="banner_main">
        <div id="banner1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#banner1" data-slide-to="0" class="active"></li>
                <li data-target="#banner1" data-slide-to="1"></li>
                <li data-target="#banner1" data-slide-to="2"></li>
                <li data-target="#banner1" data-slide-to="3"></li>
                <li data-target="#banner1" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-bg">
                                        <span>Desktops e</span>
                                        <h1>Notebook</h1>
                                        <p>
                                            Aqui você encontra diversos tipos de desktops, e notebooks.
                                        </p>
                                        <a href="#">Comprar agora </a> <a href="PessoaController1/Create">Cadastro</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text_img">
                                        <figure><img src="images/pct.png" alt="#" /></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-bg">
                                        <span>Mouses e</span>
                                        <h1>Teclados</h1>
                                        <p>diversos de tipos de mouses e teclados, desde padrão até a categoria gamer</p>
                                        <a href="#">Compre Agora </a> <a href="PessoaController1/Create">Contato </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text_img">
                                        <figure><img src="images/teclado.jpg" alt="#" /></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-bg">
                                        <span>Memórias e</span>
                                        <h1>SSDS</h1>
                                        <p>tiramos suas duvidas entre um ssd ou uma mémoria ram,mas para falar na vdd eu prefiro um sdd em  </p>
                                        <a href="#">Compre Agora </a> <a href="contact.html">Contato </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text_img">
                                        <figure><img src="images/ssd.jpg" alt="#" /></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-bg">
                                        <span>Monitores e</span>
                                        <h1>Placas de vídeo</h1>
                                        <p>possuimos diversos Monitores desde os padrões até os curvados,possuimos uma grande variedade de placas de vídeo </p>
                                        <a href="#">Compre Agora </a> <a href="contact.html">Contato </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text_img">
                                        <figure><img src="images/monitor.jpg" alt="#" /></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-bg">
                                        <span>Fontes e</span>
                                        <h1>Gabinetes</h1>
                                        <p>Possuimos diversos gabinetes para sua máquina desde os sem graça até os mais foda, temos fonte de cobre,Sileciosa,De Platina, a fonte que voçê precisar nós temos aqui </p>
                                        <a href="#">Compre Agora </a> <a href="contact.html">Contato </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text_img">
                                        <figure><img src="images/gabinete.jpg" alt="#" /></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
            <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </div>
    </section>
    <!-- end banner -->
    <!-- three_box -->
    <div class="three_box">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="box_text">
                        <i><img src="images/thr.png" alt="#" /></i>
                        <h3>Desktops</h3>
                        <p>temos uma grande variedade no nosso estoque de computadores desde os para escritorio até para os gamers</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box_text">
                        <i><img src="images/thr1.png" alt="#" /></i>
                        <h3>Notebook</h3>
                        <p>Aqui possuimos noteboks para escritorios e para os que curtem um jogo possuimos notebooks gamers </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box_text">
                        <i><img src="images/thr2.png" alt="#" /></i>
                        <h3>Tablet</h3>
                        <p>Tablet possuimos alguns modelos básicos para crianças e também possuimos ipad para os que são chegados a trabalho em escritorio </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- three_box -->
    <!-- products -->
    <div class="products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Outros Produtos</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="our_products">
                        <div class="row">
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="images/product1.png" alt="#" /></figure>
                                    <h3>Teclados</h3>
                                </div>
                            </div>
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="images/product2.png" alt="#" /></figure>
                                    <h3>Mouses</h3>
                                </div>
                            </div>
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="images/product3.png" alt="#" /></figure>
                                    <h3>Web Cam</h3>
                                </div>
                            </div>
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="images/product4.png" alt="#" /></figure>
                                    <h3>Caixa De Som</h3>
                                </div>
                            </div>
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="images/product5.png" alt="#" /></figure>
                                    <h3>Roteador wi-fi</h3>
                                </div>
                            </div>
                            <div class="col-md-4 margin_bottom1">
                                <div class="product_box">
                                    <figure><img src="images/product6.png" alt="#" /></figure>
                                    <h3>HD</h3>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="product_box">
                                    <figure><img src="images/product7.png" alt="#" /></figure>
                                    <h3>Memoria ram</h3>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="product_box">
                                    <figure><img src="images/product8.png" alt="#" /></figure>
                                    <h3>Bateria</h3>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="product_box">
                                    <figure><img src="images/product9.png" alt="#" /></figure>
                                    <h3>Leitor do CD e DVD</h3>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <a class="read_more" href="#">Ver Mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end products -->
    <!-- laptop  section -->
    <div class="laptop">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="titlepage">
                        <p>Promoção de quaretena</p>
                        <h2>até 40% de desconto</h2>
                        <a class="read_more" href="#">Compre Agora</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="laptop_box">
                        <figure><img src="images/pc.png" alt="#" /></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end laptop  section -->
    <!-- customer -->
    <div class="customer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Revisão do cliente</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="myCarousel" class="carousel slide customer_Carousel " data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="carousel-caption ">
                                        <div class="row">
                                            <div class="col-md-9 offset-md-3">
                                                <div class="test_box">
                                                    <i><img src="images/cos.png" alt="#" /></i>
                                                    <h4>Alan Zoka</h4>
                                                    <p>comprei aqui um pc gamer que meu amigo muito brabo, roda tudo se duvidar roda a nasa também kkkkkkkk, mas para falar a real essa empresa aqui e muito boa excelente atendimento, entregaram até antes do prazo,montaram rapidinho, dou nota 10.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <div class="row">
                                            <div class="col-md-9 offset-md-3">
                                                <div class="test_box">
                                                    <i><img src="images/cos.png" alt="#" /></i>
                                                    <h4>Felipe César</h4>
                                                    <p>
                                                        Comprei um computador aqui nesse site por recomendação de um amigo
                                                        gostei muito muito bom
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <div class="row">
                                            <div class="col-md-9 offset-md-3">
                                                <div class="test_box">
                                                    <i><img src="images/cos.png" alt="#" /></i>
                                                    <h4>Jéssica Laura</h4>
                                                    <p>
                                                        comprei um desktop para o meu esposo chegou até com antecedência recomendo
                                                        muito esse site dou nota máxima
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">proxima</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end customer -->
    <!--  contact -->
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Contate agora</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <form id="request" class="main_form" method="POST" action="sendMail.php">
                        <div class="row">
                            <div class="col-md-12 ">
                                <input class="contactus" placeholder="Nome" type="text" name="name" id="txtnome">
                            </div>
                            <div class="col-md-12">
                                <input class="contactus" placeholder="Email" type="email" name="email" id="txtemail2">
                            </div>
                            <div class="col-md-12">
                                <input class="contactus" placeholder="número de telefone" type="number" name="contact" id="Numtelefone">
                            </div>
                            <div class="col-md-12">
                                <textarea class="textarea" placeholder="Mensagem" type="type" Message="Name" name="message" id="txtmensagem">Mensagem</textarea>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="send_btn" value="registrar" id="txtbotao" onclick="registrar()">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end contact -->
    <!--  footer -->
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div class="logo" style="width:110px; margin-top: -25px;">
                            <a href="index.php"><img src="images/logo.jpg" style="border-radius: 50%;" alt="#" /></a>
                        </div>
                        <ul class="social_icon">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <h3>Sobre nós</h3>
                        <ul class="about_us">
                            <li>
                                Somos uma empresa de e-comerce recém aberta no mercado,
                                trabalhamos com quaisquer tipos de derivados de computadores, e
                                assistência técnica
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <h3>Contate-Nos</h3>
                        <ul class="conta">
                            <li>Rua Liberdade - 234<br> (11)2298-2004 </li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <form class="bottom_form">
                            <h3>Boletim de Notícias</h3>
                            <input class="enter" placeholder="entre com o seu email" name="entre com o seu email" id="txtemail3">
                            <button type="submit" class="sub_btn" value="cadastroEmail" id="txtbotao" onclick="cadastroEmail()">se inscrever</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="./js/cadastro.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>


