@model Cadastro_MVC.Models.PessoaModel

@{
    ViewData["Title"] = "Create";
}

<h1>Novo Cadastro</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PessoaNome" class="control-label"></label>
                <input asp-for="PessoaNome" class="form-control" />
                <!-- A linha abaixo mostra o erro caso ele ocorra -->
                <span asp-validation-for="PessoaNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PessoaEmail" class="control-label"></label>
                <input asp-for="PessoaEmail" class="form-control" />
                <span asp-validation-for="PessoaEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PessoaTelefone" class="control-label"></label>
                <input asp-for="PessoaTelefone" class="form-control" />
                <span asp-validation-for="PessoaTelefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para cadastro</a>
</div>

